@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap')
*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family:  Arial, sans-serif;
}

h1,h2{
    font-family: Prompt, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1d045f;
}
#logo {
    float: left;
    font-size: 230%;
    margin-left: 20px;
}
#menu {
    float: right;
    list-style-type: none;
    margin-right: 20px; 
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color:#1d045f;
}

#menu a:hover{
    color:red;
}

#mind-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#picture-text, #picture-text h2 {
    color: black;
}

#mind-image {
    height: 400px;
    width: 100%;
    background: url('../images/pexels-photo-235990.webp') center 90% / cover no-repeat ;

    
    animation-name: mind-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    }

 @keyframes mind-zoom {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
 }

 #picture-text {
    font-size: 150%;
    font-family: Prompt, sans-serif;
    text-transform: capitalize; 
    letter-spacing: 3px;
    width: 700px;
    height: 200px;
    background-color: none;
    bottom: 80px;
    left: 60px;
    position:absolute;
    text-align: center;
    font-style: italic;
}

#about-us {
    float: left;
}

#welcome {float: right;}