@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,h2{
    font-family: Prompt, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1d045f;
}
#logo {
    float: left;
    font-size: 230%;
    margin-left: 20px;
}
#menu {
    float: right;
    list-style-type: none;
    margin-right: 20px; 
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color:#1d045f;
}

#menu a:hover{
    color:red;
}

#mind-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#picture-text, #picture-text h2 {
    color: black;
}

#mind-image {
    height: 600px;
    width: 100%;
    background: url('../images/istockphoto-1255236230-612x612.jpg') center center / cover no-repeat fixed ;
    }

