@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap')

* {
    margin: 0px;
    padding: 0;
    border: none;
}

body {
    font-family:  Arial, sans-serif;
    background-color: #b3e5fc;
}

h1,h2,h3{
    font-family: Prompt, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1d045f;
}
 #left-one-heading img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
     
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 20px;
    padding-bottom: 40px;
    padding-top: 28px;
   
}
#menu {
    float: right;
    list-style-type: none;
    margin-right: 20px; 
    padding-top: 25px;
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 10px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color:#1d045f;
}

#menu a:hover{
    color:red;
}

#mind-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#picture-text, #picture-text h2 {
    color: black;
}

#mind-image {
    height: 400px;
    width: 100%;
    background: url('../images/pexels-photo-235990.webp') center 90% / cover no-repeat ;

    
    animation-name: mind-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

 @keyframes mind-zoom {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
 }

 #picture-text {
    font-size: 150%;
    font-family: Prompt, sans-serif;
    text-transform: capitalize; 
    letter-spacing: 3px;
    width: 700px;
    height: 200px;
    background: none;
    bottom: 80px;
    left: 60px;
    position:absolute;
    text-align: center;
    font-style: italic;
}
/* about us section*/

#about-us {
    float: left;
}

#welcome {
    height: 800px;}

#left-one-heading {
    padding-top: 30px;
    width: 30%;
    float: left;
    margin-left: 80px;
    margin-top: 100px;
}

#right-one-paragraph  {
    padding-top: 20px;
    width: 60%;
    float: right;
    margin-top: 15px;
    margin-right: 50px;
}

#right-one-paragraph p {
    font-size: 20px;
}

/* services section*/

#services  {
    background: url('../images/pexels-photo-5490778.webp') no-repeat center;
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-top: -250px;
    }

#services h2 {
    text-align: center;
    font-size: 35px;
    padding-top: 60px;
    font-weight: bold;
    padding-bottom: 60px;
}

#services div {
    color: black;
    width: 30%;
    height: 350px;
    float: left;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

#services h3 {
   font-size: 25px;
   padding-bottom: 20px;
}

#services h4 {
    font-size: 20px;
    line-height: 30px;
}

/*contact*/

.contact-us {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 60px;
}

#contact-form-s h1 {
    text-align: center;
    font-size: xxx-large;
    
}

#contact-form-s h2 {
   text-align:center;
   padding-bottom: 20px;
}
.container {
    text-align: center;
}

.container {
    background-color:rgb(81, 212, 169);
    padding-top: 20px;
    padding-bottom: 20px;
   align-items: center;
   max-width: 500px;
   margin-left: 400px;
}

#email {
    line-height: 25px;
}
#fname {
    line-height: 25px;
}
#lname {
    line-height: 25px;
}

#box {
    line-height: 30px;
    color: blue;
}

#box h2 {
    background-color: #0086b3;
}

.send-button {
    background: blanchedalmond;
    color: blue;
    border-style: outset;
    border-color: #0066A2;
    height: 30px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
}

.send-button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none; 
}

/*contact us*/

#contact div {
    color: black;
    width: 30%;
    height: 150px;
    float: right;
    padding: 10px 20px 10px 20px;
    text-align: center;
}
   

#contact h2 {
    text-align: center;
    padding-top: 50px;
    font-size: xxx-large;
    padding-bottom: 35px;
}

#contact, h3 h4 {
    line-height: 30px;
}



/*map*/

#map-google {
    height: 300px;
    margin-bottom: 100px;
   
}
#map1 {
    height: 200px;
    width: 100%;
    border: none;
}  


/*footer*/

footer {
    height: 90px;
  }
  
   .social-network{
      text-align: center;
   }   
   .social-network > li {
      display: inline;
  }
  .social-network i {
      font-size: 160%;
      margin: 10px;
      padding-bottom: 5px;
      color: #1d045f;
  }

/*thank you page*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

.zen {
    background: url(../images/129603.webp);
    background-size: cover;
    background-position: center;
    height: 950px;
}

#thank-you {
   text-align: center;
   padding-right: 450px;
   padding-top: 250px;
}
#thank-you h1 {
    font-weight: 600;
    font-size: 100px;
    padding-bottom: 30px;
}
#thank-you  {
    line-height: 40px;
}



